body{
    background-color: rgb(237, 237, 177);
}
header{
    width:100%;
    padding: 20px 0;
    text-align: center;
    height: 300px;
    margin-top: 20px;
    background-image: url("../imatges/tresx1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

h1{
    color: rgb(255, 255, 255);
}

.Baco{
    height: 51%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    background-color: rosybrown;
    
    
}

.Uno img{
    border: 3px solid black;
    height: 150%;

}

.Uno:hover{
    transform :scale(1.15)
}
.Dos img{
    border: 3px solid black;
    height: 150%;

}
.Dos:hover{
    transform :scale(1.15)
}
.Tres img{
    border: 3px solid black;
    height: 150%;

}
.Tres:hover{
    transform :scale(1.15)
}


.Venus{
       height: 54%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    background-color: royalblue;
}
footer{
    margin-top: 220px;
    text-align: center;
}


